<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>HTML Preview(markdown to html) - Editor.md examples</title>
    <link rel="stylesheet" href="/css/editormd.preview.min.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/editormd.min.css" />
    <link rel="stylesheet" href="/css/stype.css" />

    <style type="text/css">
        #layout {
            width:90%;
            /*height:35px;*/
            background:#CCC;/*为了便于查看区域范围大小，故而加个背景色*/
            margin:0 auto;/*水平居中*/
            margin-top:30px;/*距离顶部30px*/
            padding-left: 30px;
            overflow: scroll;
        }

    </style>
</head>
<body>

    #parse("nav.vm")
    <div id="layout">

        #foreach($item in $blogList)
            <a href="/article?id=$item.id">$item.title</a>
            <br>
        #end

    </div>


    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/lib/elib/marked.min.js"></script>
    <script src="/lib/elib/prettify.min.js"></script>
    <script src="/lib/elib/raphael.min.js"></script>
    <script src="/lib/elib/underscore.min.js"></script>
    <script src="/lib/elib/sequence-diagram.min.js"></script>
    <script src="/lib/elib/flowchart.min.js"></script>
    <script src="/lib/elib/jquery.flowchart.min.js"></script>
    <script src="/lib/editormd.min.js"></script>

</body>
</html>